/**********
Reset
primary-light-0:#7bbff0;
primary: #2980b9;
primary-dark-0:#1a4d6f;
primary-dark-1:#032e4d;
primary-dark-2:#031e31;
black:#535353;
grey:#dedede;
green-light-0:#55efc4;
green:#29787c;
**********/
:root{
    --primary-color: #FA9B6B;
    --secondary-color1: #C8C4BB;
    --secondary-color2: #1B392F;
    --secondary-color3: #EBEBE9;
    --text-color: #0D0906;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /* border: 1px solid #ccc; */
}

body{
    font-family: "Noto Serif TC", sans-serif;
    color: var(--text-color);
    background-image: url(../img/bg.jpg);
    background-repeat:repeat;
}

/**********
Utilities
**********/
.pt-90{
    padding-top: 90px;
}

.pt-60{
    padding-top: 60px;
}

.pt-20{
    padding-top: 20px;
}

.pt-30{
    padding-top: 20px;
}

.pb-90{
    padding-bottom: 90px;
}

.pb-60{
    padding-bottom: 60px;
}

.pb-20{
    padding-bottom: 20px;
}

.mt-30{
    margin-top: 30px;
}

.mb-60{
    margin-bottom: 60px;
}

.mb-30{
    margin-bottom: 30px;
}

.mb-20{
    margin-bottom: 20px;
}

.ml-30{
    margin-left: 30px;
}

.text-center{
    text-align: center;
}



/**********
Layout / Grid Design
**********/

.container{
    width: 960px;
    margin: 0 auto;
}

@media only screen and (min-width:769px) and (max-width:992px){
    .container {
        width: 750px;
    }
}

@media only screen and (max-width:768px) {
    .container {
        width: 100%;
    }
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row::after{
    content:"";
    display: table;
    clear: both;
}


[class^="col-"] {
    padding-right: 15px;
    padding-left: 15px;
    float:left;
}

[class^="col-"]:not(:last-child) {
    margin-right: 20px;
}

.col-md-4 {
    width: calc((100% - 2 * 30px) / 3);
}

.col-md-3 {
    width: calc((100% - 3 * 30px) / 4);
}

.col-md-6 {
    width: calc((100% - 30px) / 2);
}

@media only screen and (max-width:768px) {
    .col-md-4, .col-md-6 {
        width: 100%;
    }

    .col-sm-6 {
        width: calc((100% - 30px) / 2);
        float:left;
    }

    .col-sm-6:not(:last-child) {
        margin-right: 15px;
    }
}

/**********
Global HTML ELEMENT
**********/

a{
    text-decoration: none;
    color:#243837;
}

.h2-container{
    display: flex;
    justify-content: center;
}

h2{
    font-weight: 700;
    font-size: 32px;
    position: relative;
    display: inline-block;
    color: var(--secondary-color2);
}

h2::before{
    content: "";
    display: block;
    width: 30px;
    height: 5px;
    background: var(--primary-color);
    position: absolute;
    bottom: -10px;
}

h3{
    font-weight: 400;
}

.btn{
    border-radius: 3px;
    padding: 16px 32px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

.btn-inline{
    color: var(--secondary-color2);
    border: var(--secondary-color2) 1px solid ;
    border-radius: 8px;
    font-weight: 600;
}

.btn-inline:hover{
    color: var(--secondary-color2);
    border: var(--secondary-color2) 2px solid ;
    box-shadow: 0px 0px 3px 0px var(--secondary-color2);
    transition:all 0.5s;
}

.btn-full{
    color: var(--secondary-color2);
    background-color: var(--secondary-color3);
    border-radius: 8px;
    cursor: pointer;
    font-family: "noto serif tc";
    font-weight: 600;
    border: 1px solid;
}

.btn-full:hover{
    color: var(--secondary-color3);
    background-color: var(--secondary-color2);
    transition:all 0.5s;
    border-radius: 8px;
}

.img-full{
    width: 100%;
    height: 50pt;
}
/**********
Nav
**********/

.logo{
    overflow-clip-margin: content-box;
}

nav{
    padding: 8px;
    z-index: 1000;
    width: 100%;
    position: fixed;
    background-color: hwb(0 100% 0% / 0.8);
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
}

nav.sticky{
    background-color: #EBEBE9;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
}

.nav-logo{
    display:block;
    widows: 130px;
    float:left;
}

.nav-list{
    list-style: none;
    float: right;
}

.nav-list li{
    display: inline-block;
    margin: 8px 0;
    font-weight: 600;
}


.nav-list a{
    display: block;
    padding: 12px 16px;
    color: var(--secondary-color2);
}
.nav-list li:last-of-type{
    margin-right: 0px;
}

.nav-menu-open{
    display: none;
    cursor: pointer;
    transition: all 400ms ease-in 50ms;
}

.nav-list li :hover {
    background-color: rgba(250, 155, 107, 0.3);
    transition: all 400ms ease-in 50ms;
  }

.nav-list li:hover::after{
    transform: scaleX(1);
    transform-origin: center;
}

@media only screen and (max-width:768px) {
    .nav-list {
        display: none;
    }

    .nav-menu-open {
    display: block;
    float: right;
    margin-top: 16px;
    }


    .nav-show-menu {
        position: relative;
    }

    .nav-show-menu .nav-list {
        display: block;
        position: fixed;
        left: 0;
        top: 74px;
        z-index: 10;
        background-color: var(--secondary-color3);
        width: 100%;
        padding: 0;
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    }

    .nav-show-menu .nav-list li{
        display: block;
        text-align: center;
        margin-top: 0px;
        margin-right: 0px;
    }

    .nav-show-menu .nav-list li:last-of-type{
        margin-bottom: 0px;
    }
}

/**********
Header
**********/

header{
    background:url("../img/header-bg.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 832px;
    position: relative;
}

.header-container{
    background: rgba(14, 10, 6, 0.3);
    color:#ffffff;
    padding: 20px;
    display: inline-block;
    position: absolute;
    top:50%;
    left:30%;
    transform: translate(-50%,-50%);
}

@media only screen and (max-width:768px) {
    .header-container{
        top: 50%;
        left: 50%;
    }
}

.header-h1{
    font-weight: 500;
    font-size: 42px;
    margin: 0 0 10px 0;
}

.subtitle{
    color: #dedede;
    margin-top: 10px;
    text-transform: capitalize;
}

/**********
About Us
**********/

.about-text{
    line-height: 1.8;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.about-photo{
    width: 100%;
    height: 100%;
}

@media only screen and (max-width:768px) {
    #About .col-md-6 {
        margin: 0px;
    }

    .row{
        flex-direction: column;
    }

    .about-photo{
        width: 50%;
        height: 50%;
    }
}

/**********
Service
**********/


.service-showcase{
    width: 100%;
    list-style: none;
    display: flex;
}

.service-showcase li {
    border-radius: 8px;
    margin: 8px;
    overflow:hidden;
    height: 220px;
    width: 220px;
}

.service-photo {
    width: 100%;
    height: 100%;
    transition: all 400ms ease-in 50ms;
}

.img-container{
    position: relative;
    width: 100%;
    height: 100%;
}

.img-container img{
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    opacity: 0;
    transition: all 400ms ease-in 50ms;
}

.mask h3 {
    text-align: center;
    position: relative;
    top: 40%;
    font-weight: 300;
}


.img-container:hover .mask {
    opacity: 1;
}

.service1, .service2{
    text-align: center;
}

.service1::before {
    content:"翦";
    color: var(--secondary-color2);
    font-size: 24px;
    font-weight: 600;
}

.service2::before {
    content:"餐";
    color: var(--secondary-color2);
    font-size: 24px;
    font-weight: 600;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .service-showcase{
        flex-flow: row wrap;
        justify-content: center;
    }

    .service-showcase li {
        height: 280px;
        width: 280px;
    }
}

@media only screen and (max-width: 768px){
    .service-showcase{
        flex-direction: column;
    }
}

@media only screen and (max-width: 767px){
    .service-showcase li {
        height: 300px;
        width: 300px;
    }
}

/**********
News
**********/


.item{
    width: 100%;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
}

.item img{
    width: 194px;
    height: 194px;
    border-radius: 8px;
    transition: all 0.5s ease-in;
}

.item img:hover{
    transform: scale(1.1);
}

.info {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100% - 194px);
}

.monthDay{
    display: flex;
    margin-bottom: 20px;
}

.number{
    font-size: 30px;
    line-height: 1;
}

.dateBox .date{
    color: var(--secondary-color2);
    margin-left: 30px;
}

.text{
    margin-left: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: var(--secondary-color2);
}

.text h3{
    font-weight: 600;
    margin-bottom: 8px;
    color: var(--secondary-color2);
}

.text p{
    line-height: 1.8;
}

.more a{
    position: relative;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    margin-top:8px;
    color: var(--secondary-color2);
    font-weight: 500;
    transition: 0.5s ease-in;
}

.more a:hover{
    color: #FA9B6B;
}

.more i{
    padding: 3px 5px;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .item {
        flex-direction: column;
        align-items: center;
    }

    .item img{
        width: 294px;
    }
    .info{
        margin-top: 10px;
        width: 294px;
    }
}

@media only screen and (max-width: 767px) {
    .item {
        flex-direction: column;
        align-items: center;
    }

    .item img{
        width: 294px;
        height: 294px;
    }

    .info{
        margin-top: 10px;
        width: 294px;
    }
}


/**********
testimonial
**********/

.testimonial-card{
    padding: 0px 30px 0px ;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: var(--secondary-color3);
}

.testimonial-card-info {
    background: var(--secondary-color1);
    color: var(--secondary-color3);;
    margin: 0px 30px 0px -30px;
    padding: 60px 30px;
    position: relative;
}

.testimonial-card-img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 68px;
    width: 68px;
    background: var(--secondary-color3);
    border-radius: 50%;
    border: 2px var(--secondary-color2) solid;
}

.testimonial-card-name{
    font-size: 18px;
    margin-top: 70px;
    color: var(--secondary-color2);
    font-weight: 500;
    width: 20vh;
}


.score{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 30px 50px;

}

.star-score{
    padding: 0px 30px;
    position: relative;
    display: flex;
    color: var(--primary-color);
}

.testimonial-card-text{
    line-height: 1.8;
    padding: 8px 30px;
    position: relative;
}

.comeDate{
    padding: 0px 30px;
    position: relative;
    line-height: 1.8;
    color: gray;
}

.score::before,
.score::after{
    font-size: 64px;
    color: #c7c7c7;
    position:absolute;
}

.score::before {
    content:"\201C";
    top: 5px;
    left:10px;
}

.score::after {
    content:"\201D";
    bottom: -30px;
    right: 20px;
}

@media only screen and (max-width:768px) {
    .testimonial-card {
        margin: 0px 20px 20px;
        padding: 0px 10px 0px;
        flex-direction: column;
    }
    .testimonial-card-info .testimonial-card-name{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .testimonial-card-info{
        margin: 0px -10px;
    }
    .score{
        margin: 30px 30px;
        padding: 0px;
    }

    .score::before {
        content:"\201C";
        top: -30px;
        left: -40px;
    }

    .score::after {
        bottom: -50px;
        right: 20px;
    }

    .score::after {
        bottom: -50px;
        right: -10px;
    }

}


/**********
Contact Us
**********/

.google-maps {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label{
    display: block;
    margin-bottom: 5px;
}

.form-input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 6px 12px;
    border:1px solid #dedede;
    -webkit-transition: 0.5s;
    transition: 0.5s ease-in;
    outline: none;
}

textarea.form-input {
    height: 150px;
}

.form-input[type=text]:focus {
    border: 1px solid var(--secondary-color2);
}

textarea:focus{
    outline: none !important;
        border-color: var(--secondary-color2);
}

::placeholder{
    font-family: "Noto Serif TC";
}
/**********
Footer
**********/

footer{
    background: var(--secondary-color2);
}

.footer-list a{
    list-style: none;
    color: var(--secondary-color3);
}

.footer-list li{
    display: inline-block;
    margin-right: 16px;
}

.footer-list li:last-of-type{
    margin-right: 0;
}

.footer-logo{
    margin-top: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.copyright{
    background: var(--secondary-color2);
    color: var(--secondary-color3);
    font-weight: 300;
}

/**********
Scroll Top Button
**********/
.scrollTopBtn{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    right: 20px;
    bottom: 30px;
    border-radius: 50px;
    background: var(--text-color);
}

.scrollTopBtn i{
    color: var(--secondary-color3);
}
